* {
    box-sizing: border-box;
}

.wrapper {
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    grid-gap: 20px;
    height: 60vh;
}

.item {
    border-radius: 10px;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 40px;
    color: white;
}


.header {
    background-color: coral;
    grid-area: header;
}

.sidebar1 {
    background-color: hotpink;
    grid-area: sidebar1;
}

.content {
    background-color: rgb(108, 159, 209);
    grid-area: content;
}

.sidebar2 {
    background-color: greenyellow;
    grid-area: sidebar2;
}

.footer {
    background-color: rgb(216, 74, 48);
    grid-area: footer;
}

@media screen and (max-width: 480px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "sidebar1"
        "content"
        "sidebar2"
        "footer";
    }

}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .wrapper {
        grid-template-columns: 150px 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: 
        "header header"
        "sidebar1 content"
        "sidebar1 content"
        "sidebar2 sidebar2"
        "footer footer";
    }

}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .wrapper {
        grid-template-columns: 150px 1fr 150px;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "header header header"
        "sidebar1 content sidebar2"
        "sidebar1 content sidebar2"
        "footer footer footer";
    }

}

@media screen and (min-width: 1025px) {
    .wrapper {
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "header header header"
        "sidebar1 content sidebar2"
        "sidebar1 content sidebar2"
        "footer footer footer";
    }

}