* {
    box-sizing: border-box;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
    height: 50vh;
    width: 50%;
    margin: auto;
}

.item {
    border-radius: 10px;
}

.item1 {
    background-color: coral;
    grid-column: span 4;
}

.item2 {
    background-color: hotpink;
    grid-area: 2/ 1/ 4/ 3;
}

.item3 {
    background-color: rgb(108, 159, 209);
    grid-area: 2/ 3/ 3/ -1;
}

.item4 {
    background-color: greenyellow;
    grid-row-start: 3;
}

.item5 {
    background-color: rgb(216, 74, 48);
    grid-row-start: 3;
}